@use 'variables';

.event {

    padding: 80px 0;
    
    &--presencasConfirmadas {
        background-image: linear-gradient(variables.$blue1, variables.$blue2);
    }

    &--djConfirmado {
        background-image: linear-gradient(variables.$blue2, variables.$pink);
    }

    &--lembrancinhas {
        background-image: linear-gradient(variables.$pink, variables.$yellow);
    }

    .container {
        display: flex;
    }

    &__image {
        max-width: 360px;
    }

    &__details {
        margin-right: 40px; 

        &__title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
            
        }
        &__description {
            line-height: 22px;
            
        }
    }

    @media (max-width: 640px) {

        .container {
            display: block;
        }

        &__image {
            width: 100%;
        }

        &__details {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
}