@use '../styles/variables';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;

    &--primary {
        background-color: variables.$purple;
        color: #fff;
    }

    @media (max-width: 640px) {
        display: flex;
        width: 100%;   
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}
